body, html{
  height:100%;
  overflow: hidden;
}
body{
  margin: 0px;
  background-color:#444;
  background: url(./resources/stage.jpg) center/cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineupButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  transition: all 4s;
}

.barrier{
  position: absolute;
  top: 70vh;
  width: 90%;
  height: 30vh;
}

button {
  position: relative;
  left: 50px;
  top: 5px;
}

.snoop {
  width: 50%;
  height: 50%;
  transform: translate(0%, -50%)
}

.carlton {
  background-image: url(./resources/carlton.gif);
}